In [35]:
import requests

rpp = requests.get('https://openexchangerates.org/api/latest.json?app_id=9cebfc15f560490dbda28f8448d87239')
print(rpp.json())

{'disclaimer': 'Usage subject to terms: https://openexchangerates.org/terms', 'license': 'https://openexchangerates.org/license', 'timestamp': 1696129223, 'base': 'USD', 'rates': {'AED': 3.67304, 'AFN': 78.127805, 'ALL': 100.78873, 'AMD': 397.109218, 'ANG': 1.806168, 'AOA': 830, 'ARS': 350.02, 'AUD': 1.555696, 'AWG': 1.8025, 'AZN': 1.7, 'BAM': 1.847447, 'BBD': 2, 'BDT': 110.489774, 'BGN': 1.849375, 'BHD': 0.377007, 'BIF': 2841.160717, 'BMD': 1, 'BND': 1.36504, 'BOB': 6.924857, 'BRL': 5.0319, 'BSD': 1, 'BTC': 3.6989423e-05, 'BTN': 83.222037, 'BWP': 13.672129, 'BYN': 2.529542, 'BZD': 2.020025, 'CAD': 1.35905, 'CDF': 2487.322105, 'CHF': 0.915553, 'CLF': 0.032296, 'CLP': 891.15, 'CNH': 7.28741, 'CNY': 7.2942, 'COP': 4070.75045, 'CRC': 535.776974, 'CUC': 1, 'CUP': 25.75, 'CVE': 104.156244, 'CZK': 23.0991, 'DJF': 178.434801, 'DKK': 7.0527, 'DOP': 56.893214, 'DZD': 137.363, 'EGP': 30.9, 'ERN': 15, 'ETB': 55.24, 'EUR': 0.94515, 'FJD': 2.2947, 'FKP': 0.819874, 'GBP': 0.819874, 'GEL': 2.685, 'GGP': 0.819874, 'GHS': 11.619515, 'GIP': 0.819874, 'GMD': 64.975, 'GNF': 8603.382619, 'GTQ': 7.877013, 'GYD': 209.663336, 'HKD': 7.8312, 'HNL': 24.715439, 'HRK': 7.12523, 'HTG': 135.795596, 'HUF': 368.43, 'IDR': 15493.35, 'ILS': 3.80653, 'IMP': 0.819874, 'INR': 83.17355, 'IQD': 1312.428802, 'IRR': 42237.5, 'ISK': 137.79, 'JEP': 0.819874, 'JMD': 155.329925, 'JOD': 0.7096, 'JPY': 149.3750151, 'KES': 148.2, 'KGS': 88.71, 'KHR': 4130.72653, 'KMF': 465.999928, 'KPW': 900, 'KRW': 1352.93, 'KWD': 0.30914, 'KYD': 0.83512, 'KZT': 478.789116, 'LAK': 20433.222649, 'LBP': 15062.452088, 'LKR': 324.951589, 'LRD': 186.550038, 'LSL': 18.880934, 'LYD': 4.898692, 'MAD': 10.274878, 'MDL': 18.289331, 'MGA': 4557.669719, 'MKD': 58.107023, 'MMK': 2104.472254, 'MNT': 3450, 'MOP': 8.08388, 'MRU': 38.266661, 'MUR': 44.634634, 'MVR': 15.4, 'MWK': 1083.360677, 'MXN': 17.4189, 'MYR': 4.69525, 'MZN': 63.875002, 'NAD': 18.92, 'NGN': 779.767422, 'NIO': 36.669341, 'NOK': 10.677605, 'NPR': 133.155456, 'NZD': 1.668057, 'OMR': 0.384817, 'PAB': 1, 'PEN': 3.79795, 'PGK': 3.661267, 'PHP': 56.6505, 'PKR': 289.370575, 'PLN': 4.375564, 'PYG': 7313.951869, 'QAR': 3.641, 'RON': 4.7056, 'RSD': 110.970974, 'RUB': 98, 'RWF': 1223.635762, 'SAR': 3.750527, 'SBD': 8.383555, 'SCR': 13.455446, 'SDG': 601.5, 'SEK': 10.9198, 'SGD': 1.3661, 'SHP': 0.819874, 'SLL': 20969.5, 'SOS': 572.709652, 'SRD': 38.3225, 'SSP': 130.26, 'STD': 22281.8, 'STN': 23.142682, 'SVC': 8.768715, 'SYP': 2512.53, 'SZL': 18.877816, 'THB': 36.482238, 'TJS': 11.008643, 'TMT': 3.51, 'TND': 3.1565, 'TOP': 2.389389, 'TRY': 27.4131, 'TTD': 6.801115, 'TWD': 32.2462, 'TZS': 2510, 'UAH': 37.010909, 'UGX': 3768.94752, 'USD': 1, 'UYU': 38.468117, 'UZS': 12225.863413, 'VES': 34.258051, 'VND': 24304.318779, 'VUV': 118.722, 'WST': 2.7185, 'XAF': 619.977759, 'XAG': 0.04508364, 'XAU': 0.00054099, 'XCD': 2.70255, 'XDR': 0.764275, 'XOF': 619.977759, 'XPD': 0.00080131, 'XPF': 112.786396, 'XPT': 0.00110268, 'YER': 250.399984, 'ZAR': 18.92309, 'ZMW': 20.970103, 'ZWL': 322}}

In [36]:
import pandas as pd
datos = rpp.json()
rates_USD = datos['rates']

rates_USD

{'AED': 3.67304,
 'AFN': 78.127805,
 'ALL': 100.78873,
 'AMD': 397.109218,
 'ANG': 1.806168,
 'AOA': 830,
 'ARS': 350.02,
 'AUD': 1.555696,
 'AWG': 1.8025,
 'AZN': 1.7,
 'BAM': 1.847447,
 'BBD': 2,
 'BDT': 110.489774,
 'BGN': 1.849375,
 'BHD': 0.377007,
 'BIF': 2841.160717,
 'BMD': 1,
 'BND': 1.36504,
 'BOB': 6.924857,
 'BRL': 5.0319,
 'BSD': 1,
 'BTC': 3.6989423e-05,
 'BTN': 83.222037,
 'BWP': 13.672129,
 'BYN': 2.529542,
 'BZD': 2.020025,
 'CAD': 1.35905,
 'CDF': 2487.322105,
 'CHF': 0.915553,
 'CLF': 0.032296,
 'CLP': 891.15,
 'CNH': 7.28741,
 'CNY': 7.2942,
 'COP': 4070.75045,
 'CRC': 535.776974,
 'CUC': 1,
 'CUP': 25.75,
 'CVE': 104.156244,
 'CZK': 23.0991,
 'DJF': 178.434801,
 'DKK': 7.0527,
 'DOP': 56.893214,
 'DZD': 137.363,
 'EGP': 30.9,
 'ERN': 15,
 'ETB': 55.24,
 'EUR': 0.94515,
 'FJD': 2.2947,
 'FKP': 0.819874,
 'GBP': 0.819874,
 'GEL': 2.685,
 'GGP': 0.819874,
 'GHS': 11.619515,
 'GIP': 0.819874,
 'GMD': 64.975,
 'GNF': 8603.382619,
 'GTQ': 7.877013,
 'GYD': 209.663336,
 'HKD': 7.8312,
 'HNL': 24.715439,
 'HRK': 7.12523,
 'HTG': 135.795596,
 'HUF': 368.43,
 'IDR': 15493.35,
 'ILS': 3.80653,
 'IMP': 0.819874,
 'INR': 83.17355,
 'IQD': 1312.428802,
 'IRR': 42237.5,
 'ISK': 137.79,
 'JEP': 0.819874,
 'JMD': 155.329925,
 'JOD': 0.7096,
 'JPY': 149.3750151,
 'KES': 148.2,
 'KGS': 88.71,
 'KHR': 4130.72653,
 'KMF': 465.999928,
 'KPW': 900,
 'KRW': 1352.93,
 'KWD': 0.30914,
 'KYD': 0.83512,
 'KZT': 478.789116,
 'LAK': 20433.222649,
 'LBP': 15062.452088,
 'LKR': 324.951589,
 'LRD': 186.550038,
 'LSL': 18.880934,
 'LYD': 4.898692,
 'MAD': 10.274878,
 'MDL': 18.289331,
 'MGA': 4557.669719,
 'MKD': 58.107023,
 'MMK': 2104.472254,
 'MNT': 3450,
 'MOP': 8.08388,
 'MRU': 38.266661,
 'MUR': 44.634634,
 'MVR': 15.4,
 'MWK': 1083.360677,
 'MXN': 17.4189,
 'MYR': 4.69525,
 'MZN': 63.875002,
 'NAD': 18.92,
 'NGN': 779.767422,
 'NIO': 36.669341,
 'NOK': 10.677605,
 'NPR': 133.155456,
 'NZD': 1.668057,
 'OMR': 0.384817,
 'PAB': 1,
 'PEN': 3.79795,
 'PGK': 3.661267,
 'PHP': 56.6505,
 'PKR': 289.370575,
 'PLN': 4.375564,
 'PYG': 7313.951869,
 'QAR': 3.641,
 'RON': 4.7056,
 'RSD': 110.970974,
 'RUB': 98,
 'RWF': 1223.635762,
 'SAR': 3.750527,
 'SBD': 8.383555,
 'SCR': 13.455446,
 'SDG': 601.5,
 'SEK': 10.9198,
 'SGD': 1.3661,
 'SHP': 0.819874,
 'SLL': 20969.5,
 'SOS': 572.709652,
 'SRD': 38.3225,
 'SSP': 130.26,
 'STD': 22281.8,
 'STN': 23.142682,
 'SVC': 8.768715,
 'SYP': 2512.53,
 'SZL': 18.877816,
 'THB': 36.482238,
 'TJS': 11.008643,
 'TMT': 3.51,
 'TND': 3.1565,
 'TOP': 2.389389,
 'TRY': 27.4131,
 'TTD': 6.801115,
 'TWD': 32.2462,
 'TZS': 2510,
 'UAH': 37.010909,
 'UGX': 3768.94752,
 'USD': 1,
 'UYU': 38.468117,
 'UZS': 12225.863413,
 'VES': 34.258051,
 'VND': 24304.318779,
 'VUV': 118.722,
 'WST': 2.7185,
 'XAF': 619.977759,
 'XAG': 0.04508364,
 'XAU': 0.00054099,
 'XCD': 2.70255,
 'XDR': 0.764275,
 'XOF': 619.977759,
 'XPD': 0.00080131,
 'XPF': 112.786396,
 'XPT': 0.00110268,
 'YER': 250.399984,
 'ZAR': 18.92309,
 'ZMW': 20.970103,
 'ZWL': 322}

In [37]:
currency_keys = list(rates_USD.keys())
currency_values = list(rates_USD.values())

exchange = pd.DataFrame({'Currency' : currency_keys, 'USD_price' : currency_values})
exchange.head()

  Currency   USD_price
0      AED    3.673040
1      AFN   78.127805
2      ALL  100.788730
3      AMD  397.109218
4      ANG    1.806168

In [38]:
datos

{'disclaimer': 'Usage subject to terms: https://openexchangerates.org/terms',
 'license': 'https://openexchangerates.org/license',
 'timestamp': 1696129223,
 'base': 'USD',
 'rates': {'AED': 3.67304,
  'AFN': 78.127805,
  'ALL': 100.78873,
  'AMD': 397.109218,
  'ANG': 1.806168,
  'AOA': 830,
  'ARS': 350.02,
  'AUD': 1.555696,
  'AWG': 1.8025,
  'AZN': 1.7,
  'BAM': 1.847447,
  'BBD': 2,
  'BDT': 110.489774,
  'BGN': 1.849375,
  'BHD': 0.377007,
  'BIF': 2841.160717,
  'BMD': 1,
  'BND': 1.36504,
  'BOB': 6.924857,
  'BRL': 5.0319,
  'BSD': 1,
  'BTC': 3.6989423e-05,
  'BTN': 83.222037,
  'BWP': 13.672129,
  'BYN': 2.529542,
  'BZD': 2.020025,
  'CAD': 1.35905,
  'CDF': 2487.322105,
  'CHF': 0.915553,
  'CLF': 0.032296,
  'CLP': 891.15,
  'CNH': 7.28741,
  'CNY': 7.2942,
  'COP': 4070.75045,
  'CRC': 535.776974,
  'CUC': 1,
  'CUP': 25.75,
  'CVE': 104.156244,
  'CZK': 23.0991,
  'DJF': 178.434801,
  'DKK': 7.0527,
  'DOP': 56.893214,
  'DZD': 137.363,
  'EGP': 30.9,
  'ERN': 15,
  'ETB': 55.24,
  'EUR': 0.94515,
  'FJD': 2.2947,
  'FKP': 0.819874,
  'GBP': 0.819874,
  'GEL': 2.685,
  'GGP': 0.819874,
  'GHS': 11.619515,
  'GIP': 0.819874,
  'GMD': 64.975,
  'GNF': 8603.382619,
  'GTQ': 7.877013,
  'GYD': 209.663336,
  'HKD': 7.8312,
  'HNL': 24.715439,
  'HRK': 7.12523,
  'HTG': 135.795596,
  'HUF': 368.43,
  'IDR': 15493.35,
  'ILS': 3.80653,
  'IMP': 0.819874,
  'INR': 83.17355,
  'IQD': 1312.428802,
  'IRR': 42237.5,
  'ISK': 137.79,
  'JEP': 0.819874,
  'JMD': 155.329925,
  'JOD': 0.7096,
  'JPY': 149.3750151,
  'KES': 148.2,
  'KGS': 88.71,
  'KHR': 4130.72653,
  'KMF': 465.999928,
  'KPW': 900,
  'KRW': 1352.93,
  'KWD': 0.30914,
  'KYD': 0.83512,
  'KZT': 478.789116,
  'LAK': 20433.222649,
  'LBP': 15062.452088,
  'LKR': 324.951589,
  'LRD': 186.550038,
  'LSL': 18.880934,
  'LYD': 4.898692,
  'MAD': 10.274878,
  'MDL': 18.289331,
  'MGA': 4557.669719,
  'MKD': 58.107023,
  'MMK': 2104.472254,
  'MNT': 3450,
  'MOP': 8.08388,
  'MRU': 38.266661,
  'MUR': 44.634634,
  'MVR': 15.4,
  'MWK': 1083.360677,
  'MXN': 17.4189,
  'MYR': 4.69525,
  'MZN': 63.875002,
  'NAD': 18.92,
  'NGN': 779.767422,
  'NIO': 36.669341,
  'NOK': 10.677605,
  'NPR': 133.155456,
  'NZD': 1.668057,
  'OMR': 0.384817,
  'PAB': 1,
  'PEN': 3.79795,
  'PGK': 3.661267,
  'PHP': 56.6505,
  'PKR': 289.370575,
  'PLN': 4.375564,
  'PYG': 7313.951869,
  'QAR': 3.641,
  'RON': 4.7056,
  'RSD': 110.970974,
  'RUB': 98,
  'RWF': 1223.635762,
  'SAR': 3.750527,
  'SBD': 8.383555,
  'SCR': 13.455446,
  'SDG': 601.5,
  'SEK': 10.9198,
  'SGD': 1.3661,
  'SHP': 0.819874,
  'SLL': 20969.5,
  'SOS': 572.709652,
  'SRD': 38.3225,
  'SSP': 130.26,
  'STD': 22281.8,
  'STN': 23.142682,
  'SVC': 8.768715,
  'SYP': 2512.53,
  'SZL': 18.877816,
  'THB': 36.482238,
  'TJS': 11.008643,
  'TMT': 3.51,
  'TND': 3.1565,
  'TOP': 2.389389,
  'TRY': 27.4131,
  'TTD': 6.801115,
  'TWD': 32.2462,
  'TZS': 2510,
  'UAH': 37.010909,
  'UGX': 3768.94752,
  'USD': 1,
  'UYU': 38.468117,
  'UZS': 12225.863413,
  'VES': 34.258051,
  'VND': 24304.318779,
  'VUV': 118.722,
  'WST': 2.7185,
  'XAF': 619.977759,
  'XAG': 0.04508364,
  'XAU': 0.00054099,
  'XCD': 2.70255,
  'XDR': 0.764275,
  'XOF': 619.977759,
  'XPD': 0.00080131,
  'XPF': 112.786396,
  'XPT': 0.00110268,
  'YER': 250.399984,
  'ZAR': 18.92309,
  'ZMW': 20.970103,
  'ZWL': 322}}

In [39]:
from datetime import datetime
xdate = datetime.fromtimestamp(1694930404)

In [45]:
xdate

datetime.datetime(2023, 9, 17, 1, 0, 4)

In [41]:

datos['timestamp_2'] = datetime.fromtimestamp(datos['timestamp'])
date_it = str(datos['timestamp_2'].day) + '-' + str(datos['timestamp_2'].month) + '-' + str(datos['timestamp_2'].year)
time_it = str(datos['timestamp_2'].hour) + ':' + str(datos['timestamp_2'].minute) + ':' + str(datos['timestamp_2'].second)
datos['date'] = date_it
datos['time'] = time_it
datos['year'], datos['month'], datos['day'] = datos['timestamp_2'].year, datos['timestamp_2'].month, datos['timestamp_2'].day
datos['hour'], datos['minute'], datos['second'] = datos['timestamp_2'].hour, datos['timestamp_2'].minute, datos['timestamp_2'].second

exchange['Date'] = date_it
exchange['Time'] = time_it

#meta_data = {}
datos

{'disclaimer': 'Usage subject to terms: https://openexchangerates.org/terms',
 'license': 'https://openexchangerates.org/license',
 'timestamp': 1696129223,
 'base': 'USD',
 'rates': {'AED': 3.67304,
  'AFN': 78.127805,
  'ALL': 100.78873,
  'AMD': 397.109218,
  'ANG': 1.806168,
  'AOA': 830,
  'ARS': 350.02,
  'AUD': 1.555696,
  'AWG': 1.8025,
  'AZN': 1.7,
  'BAM': 1.847447,
  'BBD': 2,
  'BDT': 110.489774,
  'BGN': 1.849375,
  'BHD': 0.377007,
  'BIF': 2841.160717,
  'BMD': 1,
  'BND': 1.36504,
  'BOB': 6.924857,
  'BRL': 5.0319,
  'BSD': 1,
  'BTC': 3.6989423e-05,
  'BTN': 83.222037,
  'BWP': 13.672129,
  'BYN': 2.529542,
  'BZD': 2.020025,
  'CAD': 1.35905,
  'CDF': 2487.322105,
  'CHF': 0.915553,
  'CLF': 0.032296,
  'CLP': 891.15,
  'CNH': 7.28741,
  'CNY': 7.2942,
  'COP': 4070.75045,
  'CRC': 535.776974,
  'CUC': 1,
  'CUP': 25.75,
  'CVE': 104.156244,
  'CZK': 23.0991,
  'DJF': 178.434801,
  'DKK': 7.0527,
  'DOP': 56.893214,
  'DZD': 137.363,
  'EGP': 30.9,
  'ERN': 15,
  'ETB': 55.24,
  'EUR': 0.94515,
  'FJD': 2.2947,
  'FKP': 0.819874,
  'GBP': 0.819874,
  'GEL': 2.685,
  'GGP': 0.819874,
  'GHS': 11.619515,
  'GIP': 0.819874,
  'GMD': 64.975,
  'GNF': 8603.382619,
  'GTQ': 7.877013,
  'GYD': 209.663336,
  'HKD': 7.8312,
  'HNL': 24.715439,
  'HRK': 7.12523,
  'HTG': 135.795596,
  'HUF': 368.43,
  'IDR': 15493.35,
  'ILS': 3.80653,
  'IMP': 0.819874,
  'INR': 83.17355,
  'IQD': 1312.428802,
  'IRR': 42237.5,
  'ISK': 137.79,
  'JEP': 0.819874,
  'JMD': 155.329925,
  'JOD': 0.7096,
  'JPY': 149.3750151,
  'KES': 148.2,
  'KGS': 88.71,
  'KHR': 4130.72653,
  'KMF': 465.999928,
  'KPW': 900,
  'KRW': 1352.93,
  'KWD': 0.30914,
  'KYD': 0.83512,
  'KZT': 478.789116,
  'LAK': 20433.222649,
  'LBP': 15062.452088,
  'LKR': 324.951589,
  'LRD': 186.550038,
  'LSL': 18.880934,
  'LYD': 4.898692,
  'MAD': 10.274878,
  'MDL': 18.289331,
  'MGA': 4557.669719,
  'MKD': 58.107023,
  'MMK': 2104.472254,
  'MNT': 3450,
  'MOP': 8.08388,
  'MRU': 38.266661,
  'MUR': 44.634634,
  'MVR': 15.4,
  'MWK': 1083.360677,
  'MXN': 17.4189,
  'MYR': 4.69525,
  'MZN': 63.875002,
  'NAD': 18.92,
  'NGN': 779.767422,
  'NIO': 36.669341,
  'NOK': 10.677605,
  'NPR': 133.155456,
  'NZD': 1.668057,
  'OMR': 0.384817,
  'PAB': 1,
  'PEN': 3.79795,
  'PGK': 3.661267,
  'PHP': 56.6505,
  'PKR': 289.370575,
  'PLN': 4.375564,
  'PYG': 7313.951869,
  'QAR': 3.641,
  'RON': 4.7056,
  'RSD': 110.970974,
  'RUB': 98,
  'RWF': 1223.635762,
  'SAR': 3.750527,
  'SBD': 8.383555,
  'SCR': 13.455446,
  'SDG': 601.5,
  'SEK': 10.9198,
  'SGD': 1.3661,
  'SHP': 0.819874,
  'SLL': 20969.5,
  'SOS': 572.709652,
  'SRD': 38.3225,
  'SSP': 130.26,
  'STD': 22281.8,
  'STN': 23.142682,
  'SVC': 8.768715,
  'SYP': 2512.53,
  'SZL': 18.877816,
  'THB': 36.482238,
  'TJS': 11.008643,
  'TMT': 3.51,
  'TND': 3.1565,
  'TOP': 2.389389,
  'TRY': 27.4131,
  'TTD': 6.801115,
  'TWD': 32.2462,
  'TZS': 2510,
  'UAH': 37.010909,
  'UGX': 3768.94752,
  'USD': 1,
  'UYU': 38.468117,
  'UZS': 12225.863413,
  'VES': 34.258051,
  'VND': 24304.318779,
  'VUV': 118.722,
  'WST': 2.7185,
  'XAF': 619.977759,
  'XAG': 0.04508364,
  'XAU': 0.00054099,
  'XCD': 2.70255,
  'XDR': 0.764275,
  'XOF': 619.977759,
  'XPD': 0.00080131,
  'XPF': 112.786396,
  'XPT': 0.00110268,
  'YER': 250.399984,
  'ZAR': 18.92309,
  'ZMW': 20.970103,
  'ZWL': 322},
 'timestamp_2': datetime.datetime(2023, 9, 30, 22, 0, 23),
 'date': '30-9-2023',
 'time': '22:0:23',
 'year': 2023,
 'month': 9,
 'day': 30,
 'hour': 22,
 'minute': 0,
 'second': 23}

In [42]:
exchange

    Currency   USD_price       Date     Time
0        AED    3.673040  30-9-2023  22:0:23
1        AFN   78.127805  30-9-2023  22:0:23
2        ALL  100.788730  30-9-2023  22:0:23
3        AMD  397.109218  30-9-2023  22:0:23
4        ANG    1.806168  30-9-2023  22:0:23
..       ...         ...        ...      ...
164      XPT    0.001103  30-9-2023  22:0:23
165      YER  250.399984  30-9-2023  22:0:23
166      ZAR   18.923090  30-9-2023  22:0:23
167      ZMW   20.970103  30-9-2023  22:0:23
168      ZWL  322.000000  30-9-2023  22:0:23

[169 rows x 4 columns]

In [43]:
metadatos = ['disclaimer', 'license', 'timestamp', 'timestamp_2', 'base', 'date', 'time', 'year', 'month', 'day', 'hour', 'minute', 'second']

datos_2 = {mykey : datos[mykey] for mykey in metadatos}
datos_2

{'disclaimer': 'Usage subject to terms: https://openexchangerates.org/terms',
 'license': 'https://openexchangerates.org/license',
 'timestamp': 1696129223,
 'timestamp_2': datetime.datetime(2023, 9, 30, 22, 0, 23),
 'base': 'USD',
 'date': '30-9-2023',
 'time': '22:0:23',
 'year': 2023,
 'month': 9,
 'day': 30,
 'hour': 22,
 'minute': 0,
 'second': 23}

In [44]:
meta_keys = datos_2.keys()
meta_values = datos_2.values()

df_meta = {'keys' : meta_keys, 'values' : meta_values}
df_meta = pd.DataFrame(df_meta)
df_meta

           keys                                             values
0    disclaimer  Usage subject to terms: https://openexchangera...
1       license              https://openexchangerates.org/license
2     timestamp                                         1696129223
3   timestamp_2                                2023-09-30 22:00:23
4          base                                                USD
5          date                                          30-9-2023
6          time                                            22:0:23
7          year                                               2023
8         month                                                  9
9           day                                                 30
10         hour                                                 22
11       minute                                                  0
12       second                                                 23